@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  *::selection {
    @apply text-yellow-300;
  }

  .h1,
  .h2,
  .h3,
  .h4 {
    @apply leading-[100%] tracking-[0.04em];
  }

  .h1 {
    @apply text-[28px] font-display font-semibold uppercase;
  }

  .h2 {
    @apply text-[20px] font-display font-medium uppercase;
  }

  .grid-layout {
    @apply relative z-10 col-start-1 col-end-13 grid grid-cols-12 grid-gap;
  }

  .grid-gap {
    @apply gap-x-3 gap-y-3;
  }

  .text-padding {
    @apply px-4;
  }

  .caption {
    @apply font-mono uppercase text-[12px] opacity-50 text-white;
  }

  .body {
    @apply text-[14px] font-sans;
  }
}

@font-face {
  font-family: "OffBit";
  src: url("/fonts/OffBitTrial-101Bold.otf") format("truetype");
  font-weight: 400;
}

/* reset */
button {
  all: unset;
}

.SwitchRoot {
  width: 42px;
  height: 25px;
  background-color: rgb(115, 179, 31);
  border-radius: 9999px;
  position: relative;
  box-shadow: 0 2px 10px black;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.SwitchRoot:focus {
  box-shadow: 0 0 0 2px black;
}
.SwitchRoot[data-state="checked"] {
  background-color: black;
}

.SwitchThumb {
  display: block;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 9999px;
  box-shadow: 0 2px 2px var(--black-a7);
  transition: transform 100ms;
  transform: translateX(2px);
  will-change: transform;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SwitchThumb[data-state="checked"] {
  transform: translateX(19px);
}

.Label {
  color: white;
  font-size: 15px;
  line-height: 1;
}

.BackpackIcon {
  width: 15px;
  height: 15px;
  color: black;
}
